@import '_zero_style.scss'; // <-- including a file to reset the style
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Helvetica Neue Cyr Black';
    src        : url('../fonts/HelveticaNeueCyr-Black.eot');
    src        : url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

// .box-name {font-family: 'Helvetica Neue Cyr Black';}
/*======================================================================
=====================OUR MAIN STYLE=====================================
======================================================================*/
body {
    min-width            : 1450px;
    background-image     : url(../image/background.jpg);
    background-size      : cover;
    background-position  : center center;
    background-attachment: fixed;
    background-repeat    : no-repeat;
    position             : relative;
    top                  : 0;
    z-index              : -2;
    transition           : all 1s;

    &:after {
        content         : '';
        position        : fixed;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        background-color: rgba(42, 77, 135, .8);
        z-index         : -1;
    }


}

main {
    max-width: 1680px;
    margin   : 0 auto;
    padding  : 136px 32px 0 32px;
    position : relative;
    top      : 0;


    .title {
        font-family: 'Roboto', sans-serif;
        line-height: 77px;

        .description {
            font-size     : 70px;
            font-weight   : bold;
            text-transform: uppercase;
            color         : #ffffff;


            &:nth-of-type(2) {
                color: #f0e353;
                width: 895px;
            }

            .lower-case {
                text-transform: lowercase;
            }
        }

        p {
            font-size  : 36px;
            font-weight: 300;
            color      : #ffffff;
            line-height: 45px;
        }

        .the_place_of_webinar {
            margin: 98px 0;

            p {
                display       : inline;
                color         : #ffffff;
                font-size     : 52px;
                font-weight   : 500;
                margin-left   : 3px;
                border-left   : 7px solid #f0e353;
                padding       : 0 0 0 16px;
                vertical-align: -9px;
                line-height   : 30px;

                .number {
                    font-size  : 60px;
                    font-weight: bolder;
                }

                .small {
                    font-size  : 30px;
                    font-weight: 300;
                }
            }
        }
    }

    .places-left {
        position     : absolute;
        right        : 20px;
        top          : 149px;
        font-family  : 'Roboto', sans-serif;
        color        : #ffffff;
        border       : 2px solid #ffffff;
        border-radius: 2px;
        width        : 365px;
        height       : 425px;
        text-align   : center;

        .counter {

            border-bottom: 1px solid #ffffff;
            height       : 137px;
            position     : absolute;
            width        : 361px;

            P {
                font-size  : 180px;
                font-weight: 100;
                position   : absolute;
                top        : 4px;
                right      : 82px;
            }

        }

        .counter-description {
            width   : 250px;
            position: absolute;
            top     : 298px;
            right   : 56px;

            p {
                font-size  : 38px;
                line-height: 38px;
                font-weight: 300;
                text-align : center;
            }
        }
    }

    .registration {
        padding-top: 1px;
        font-family: 'Roboto';

        button {
            display         : block;
            width           : 791px;
            height          : 96px;
            border          : 2px solid #f0e353;
            border-radius   : 3px;
            background-color: transparent;
            margin          : 40px auto 0;
            font-size       : 50px;
            text-transform  : uppercase;
            color           : #f0e353;
            font-weight     : 500;
            text-align      : center;

            &:hover {
                cursor   : pointer;
                transform: scale(1.1);


            }
        }

        .registration--description {
            text-align : center;
            font-size  : 22px;
            color      : #ffffff;
            margin-top : 30px;
            font-weight: 100;
        }

        .arrow {
            width        : 64px;
            height       : 64px;
            border-left  : 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            transform    : rotate(-45deg);
            margin       : -7px auto 0;
        }

        form {
            display   : none;
            margin-top: 50px;

            input {
                display         : block;
                margin          : 10px auto;
                width           : 400px;
                height          : 50px;
                border          : 2px solid grey;
                border-radius   : 3px;
                background-color: transparent;
                font-family     : 'Roboto';
                font-size       : 20px;
                color           : #ffffff;
                font-weight     : 300;

                &:focus {
                    outline       : 0;
                    outline-offset: 0;
                }
            }

            input[type="text"] {
                text-align: center;


                &::placeholder {
                    text-align    : center;
                    text-transform: uppercase;
                    color         : #ffffff;
                }
            }

            input[type="button"] {
                text-transform  : uppercase;
                border          : 2px solid #f0e353;
                color           : #f0e353;
                background-color: rgba(77, 77, 77, .2);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.teem {
    display        : flex;
    justify-content: center;
    flex-direction : row;
    margin-top     : 30px;
    text-transform : uppercase;
    height         : 375px;

    &>div {
        display        : flex;
        justify-content: center;
        flex-direction : row;
        align-items    : center;

        & p {
            font-family: 'Roboto';
            font-size  : 35px;
            color      : #ffffff;
        }
    }

    .teem--organizers {
        width             : 50%;
        border-top        : 1px solid #ffffff;
        //height          : 200px;
        background-color  : #55719f;

        .teem--logo {
            width       : 315px;
            height      : 81px;
            margin-right: 49px;
        }

        p {
            width: 269px;
        }
    }



    .teem--hosts {
        width              : 50%;
        border-top         : 1px solid #ffffff;
        border-left        : 1px solid #ffffff;
        // height          : 200px;
        background-color   : #55719f;


        .teem--logo {
            width       : 138px;
            height      : 138px;
            margin-right: 49px;
        }

        div {
            p {
                width        : 452px;
                display      : block;
                border-bottom: 3px solid #ffffff;
            }

            .small-caps {
                text-transform: none;
                font-size     : 22px;
                font-weight   : 100;
                border        : none;
            }
        }




    }
}