@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
@font-face {
  font-family: 'Helvetica Neue Cyr Black';
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: url("../fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*======================================================================
=====================OUR MAIN STYLE=====================================
======================================================================*/
body {
  min-width: 1450px;
  background-image: url(../image/background.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  z-index: -2; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(42, 77, 135, 0.8);
    z-index: -1; }

main {
  max-width: 1680px;
  margin: 0 auto;
  padding: 136px 32px 0 32px;
  position: relative;
  top: 0; }
  main .title {
    font-family: 'Roboto', sans-serif;
    line-height: 77px; }
    main .title .description {
      font-size: 70px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff; }
      main .title .description:nth-of-type(2) {
        color: #f0e353;
        width: 895px; }
      main .title .description .lower-case {
        text-transform: lowercase; }
    main .title p {
      font-size: 36px;
      font-weight: 300;
      color: #ffffff;
      line-height: 45px; }
    main .title .the_place_of_webinar {
      margin: 98px 0; }
      main .title .the_place_of_webinar p {
        display: inline;
        color: #ffffff;
        font-size: 52px;
        font-weight: 500;
        margin-left: 3px;
        border-left: 7px solid #f0e353;
        padding: 0 0 0 16px;
        vertical-align: -9px;
        line-height: 30px; }
        main .title .the_place_of_webinar p .number {
          font-size: 60px;
          font-weight: bolder; }
        main .title .the_place_of_webinar p .small {
          font-size: 30px;
          font-weight: 300; }
  main .places-left {
    position: absolute;
    right: 20px;
    top: 149px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 365px;
    height: 425px;
    text-align: center; }
    main .places-left .counter {
      border-bottom: 1px solid #ffffff;
      height: 137px;
      position: absolute;
      width: 361px; }
      main .places-left .counter P {
        font-size: 180px;
        font-weight: 100;
        position: absolute;
        top: 4px;
        right: 82px; }
    main .places-left .counter-description {
      width: 250px;
      position: absolute;
      top: 298px;
      right: 56px; }
      main .places-left .counter-description p {
        font-size: 38px;
        line-height: 38px;
        font-weight: 300;
        text-align: center; }

/*# sourceMappingURL=main.css.map */